<!doctype html>
<title>CONVERTER</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/converter.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

{% extends "nav_bar.html" %}
{% block nav %}
{{ super() }}
<h1>Converter</h1>

<div class="container">
    <h2>Form with Two Rows</h2>
    <form>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="quantity_from">Количество валюты</label>
                    <input type="text" class="form-control" id="quantity_from" name="quantity_from" placeholder="Количество валюты">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="from_currency">Валюта</label>
                    <input type="text" class="form-control" id="from_currency" name="from_currency" placeholder="Валюта(EUR, USD)">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}